<%= render partial: 'shared/navbar', locals: { merchant_name: @merchant.name }  %>

<h3><%= @bulk_discount.name %></h3>
<p><%= "Discount: #{number_with_precision(@bulk_discount.discount_percentage * 100, precision: 0)}% --- Quantity Threshold: #{@bulk_discount.minimum_item_quantity}" %></p>